<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCCRK598TV"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-SCCRK598TV');
	</script>
	<body>
		<div class="container">
			
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
		
		</div> <!-- /container -->
	
	
		{% include scripts.html %}
	
	</body>

</html>
